body{
    box-sizing: content-box;
    font-family :Arial, Helvetica, sans-serif;
}
.headingDiv{
    box-sizing: content-box;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    max-width: 100vw;
    border: 2px solid;
    padding: 0.5em 0;
    margin: 0 5px;
}

.workStation{
    display : flex;
    justify-content: space-between;
}

.list{
    max-width: 25%;
    width: 100%;
    margin: 5px;
    border : 2px solid;
    height:89vh;
    overflow: auto;
}


.heading{
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid;
    font-weight: 600;
}

.inputDiv{
    width: 90%;
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputField{
    width: 100%;
    margin-right : 10px ;
    height: 25px;
}

.taskTemp{
    border: 2px solid;
    margin: 8px;
    border-radius: 5px;
    min-height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2),  0 4px 6px 0 rgba(0, 0, 0, 0.19);
}

.actionBtn{
    height: 20px;
    width: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 4px;
    background-color: rgb(68, 213, 213);
    padding : 5px;
    border-radius: 6px;
    border: 1px solid;
}

.actionBtn:hover{
    cursor: pointer;
    background-color: rgb(26, 197, 197);
}


.task{
    font-size: larger;
    padding: 0 10px;
    max-width: 70%;
    word-wrap:break-word;
}